<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="bootstrap.min.css" />

{% load i18n %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Olvido su clave" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reestablecer" %}</a>!</p>
<p>{% trans "Aun no es miembro" %}? <a href="{% url 'registration_register' %}">{% trans "Registrarse" %}</a>!</p>
{% endblock %}
