{% load static %}
<html>
<head>
    <script src="{% static 'sitio/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap.min.css" />

    {% block extra_html %}
    {% endblock %}
</head>
<body>
    <h1>Turismo.com {% block titulo %}{% endblock %}</h1>
    <p>Bienvenido!</p>

    {% block contenido %}
        <p>Contenido!</p>
    {% endblock %}

    <p>Usuarios online: <span id="cantidad-usuarios">0</span></p>

    <script src="{% static 'sitio/base.js' %}" ></script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>