{% extends 'base.html' %}
{% load static %}
{% block extra_html %}
	<form style="display: inline" action="http://127.0.0.1:8000/accounts/login/" method="get">
	  <button>Ingresar</button>
	</form>
	<form style="display: inline" action="http://127.0.0.1:8000/accounts/register/" method="get">
	  <button>Registrarse</button>
	</form>
	<form style="display: inline" action="http://127.0.0.1:8000/accounts/logout/" method="get">
	  <button>Cerrar Sesion</button>
	</form>
	<form style="display: inline" action="http://127.0.0.1:8000/crear_itinerario/" method="get">
	  <button>Crear itinerario</button>
	</form>
{% endblock %}
{% block titulo %} - inicio{% endblock %}

{% block contenido %}
    <div id="lista-itinerarios">
        {% include 'lista_itinerarios.html' %}
    </div>
    <a href="#" id="actualizar-usuarios">Actualizar</a>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'sitio/inicio.js' %}" ></script>
{% endblock %}



